@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src:
    local("Atkinson Hyperlegible Next"),
    url("https://instructure.ai/roadmap/fonts/AtkinsonHyperlegibleNext-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src:
    local("Atkinson Hyperlegible Next"),
    url("https://instructure.ai/roadmap/fonts/AtkinsonHyperlegibleNext-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src:
    local("Atkinson Hyperlegible Next"),
    url("https://instructure.ai/roadmap/fonts/AtkinsonHyperlegibleNext-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src:
    local("Atkinson Hyperlegible Next"),
    url("https://instructure.ai/roadmap/fonts/AtkinsonHyperlegibleNext-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src:
    local("Atkinson Hyperlegible Next"),
    url("https://instructure.ai/roadmap/fonts/AtkinsonHyperlegibleNext-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src:
    local("Atkinson Hyperlegible Next"),
    url("https://instructure.ai/roadmap/fonts/AtkinsonHyperlegibleNext-RegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src:
    local("Atkinson Hyperlegible Next"),
    url("https://instructure.ai/roadmap/fonts/AtkinsonHyperlegibleNext-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src:
    local("Atkinson Hyperlegible Next"),
    url("https://instructure.ai/roadmap/fonts/AtkinsonHyperlegibleNext-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src:
    local("Atkinson Hyperlegible Next"),
    url("https://instructure.ai/roadmap/fonts/AtkinsonHyperlegibleNext-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src:
    local("Atkinson Hyperlegible Next"),
    url("https://instructure.ai/roadmap/fonts/AtkinsonHyperlegibleNext-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src:
    local("Atkinson Hyperlegible Next"),
    url("https://instructure.ai/roadmap/fonts/AtkinsonHyperlegibleNext-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src:
    local("Atkinson Hyperlegible Next"),
    url("https://instructure.ai/roadmap/fonts/AtkinsonHyperlegibleNext-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src:
    local("Atkinson Hyperlegible Next"),
    url("https://instructure.ai/roadmap/fonts/AtkinsonHyperlegibleNext-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src:
    local("Atkinson Hyperlegible Next"),
    url("https://instructure.ai/roadmap/fonts/AtkinsonHyperlegibleNext-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

:root,
html,
body,
[class$="-view--block"],
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
div {
  font-family: "Atkinson Hyperlegible Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  body:not(.no-headers):not(.content-only) .ic-Layout-wrapper {
    margin-left: 70px;
  }
}

@media (min-width: 768px) {
  body:not(.no-headers):not(.content-only).primary-nav-expanded .ic-Layout-wrapper {
    margin-left: 100px;
  }
}

.ic-app-header {
  margin: 0.5rem;
  border-radius: 1rem;
  height: calc(100% - 1rem);
  width: 3rem;
}

body.primary-nav-expanded .ic-app-header {
  width: 4.75rem;
}

.ic-app-header__logomark-container {
  border-radius: 1rem 1rem 0;
}

body.primary-nav-expanded .ic-app-header__logomark {
  height: unset;
}

.ic-app-header__logomark {
  border-radius: 0.5rem;
  margin: 0.25rem;
  aspect-ratio: 1 / 1;
  height: unset;
}

.ic-app-header__logomark:focus {
  box-shadow: inset 0 0 0 0.125rem #6a7883;
}

.ic-app-header__logomark:hover,
.ic-app-header__logomark:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.ic-app-header__menu-list-link {
  border-radius: 0.5rem;
  margin: 0.25rem;
  padding: 0;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

body:not(.primary-nav-expanded) .menu-item__text {
  color: var(--ic-brand-font-color-dark);
  margin-left: 0.5rem;
  border: 1px solid #D7DADE;
  background-color: var(--ic-brand-global-nav-menu-item__badge-text);
}

body:not(.primary-nav-expanded) .menu-item__text::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
  border-color: transparent;
  border-right-color: #D7DADE;
}

body:not(.primary-nav-expanded) .menu-item__text::after {
  right: calc(100% - 1px);
  border-right-color: var(--ic-brand-global-nav-menu-item__badge-text);
}

body.primary-nav-expanded .menu-item__text {
  font-size: 0.75rem;
  margin: 0;
}

#primaryNavToggle {
  padding: 0;
  width: 2.5rem;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
}

body.primary-nav-expanded #primaryNavToggle {
  width: 4.25rem;
}

.ic-app-header__menu-list-link:not(.ic-app-header__menu-list-link--nav-toggle) {
  padding: 0;
  aspect-ratio: 1 / 1;
}

.ic-app-header__menu-list-link .ic-icon-svg {
  width: 1.125rem;
}

body.primary-nav-expanded .ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .menu-item__text {
  color: var(--ic-brand-global-nav-menu-item__badge-text);
}

.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-icon-svg {
  fill: var(--ic-brand-global-nav-menu-item__badge-text)
}

.menu-item-icon-container {
  width: unset;
}

.menu-item__icon {
  margin: 0 auto;
}

body:not(.primary-nav-expanded) .menu-item__badge {
  font-size: 0.625rem;
  min-width: 1rem;
  line-height: 1rem;
  padding: 0;
  right: -0.5rem;
}

.menu-item__badge {
  right: -0.75rem;
}

.ic-app-header__menu-list-link:focus {
  box-shadow: inset 0 0 0 0.125rem #6a7883;
}

.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-app-header__menu-list-link {
  background: var(--ic-brand-primary-darkened-15);
}

.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-app-header__menu-list-link:focus {
  box-shadow: inset 0 0 0 0.125rem #103868;
}

[class$="-tray__content"] {
  background: var(--ic-brand-global-nav-menu-item__badge-text);
}


#nav-tray-portal [class$="-closeButton"] {
  margin: 0.25rem 0.25rem 0 0;
}

@media (min-width: 768px) {
  .tray-with-space-for-global-nav {
    margin-left: 4rem;
  }

  body.primary-nav-expanded .tray-with-space-for-global-nav {
    margin-left: 5.75rem;
  }
}

.tray-with-space-for-global-nav {
  padding: 0.5rem 0;
  margin-right: 0.5rem;
}

.tray-with-space-for-global-nav>div {
  min-height: calc(100vh - 1rem - 2px);
  border-radius: 1rem;
  background: var(--ic-brand-global-nav-bgd);
  border: 1px solid transparent;
}

.navigation-tray-container [class$="-closeButton"] {
  margin-top: 0.5rem 0.5rem 0;
}

body.roadmap,
body.roadmap .header-bar {
  background-color: var(--ic-brand-global-nav-logo-bgd);
}

body.roadmap .ic-app-header,
body.roadmap .ic-app-header__logomark-container {
  background-color: var(--ic-brand-global-nav-menu-item__badge-text);
}

body.roadmap #right-side-wrapper,
body.roadmap #left-side,
body.roadmap #courseMenuToggle,
body.roadmap #easy_student_view,
body.roadmap .page-toolbar .page-toolbar-end,
body.roadmap #breadcrumbs .home {
  display: none;
}

body.roadmap #main {
  margin: 0;
}

body.roadmap #content {
  padding-top: 0;
}

body.roadmap.pages.show .show-content,
body.roadmap.pages.show.home .show-content {
  padding: 0;
}

body.roadmap.pages.show .course-title {
  color: var(--ic-brand-font-color-dark) !important;
}

body.roadmap #breadcrumbs {
  padding-left: 1.5rem;
  background-color: var(--ic-brand-global-nav-logo-bgd);
}

body.roadmap #breadcrumbs>ol>li:first-of-type {
  visibility: initial;
}

body.roadmap #breadcrumbs a {
  color: var(--ic-brand-font-color-dark);
}

body.roadmap .ic-app-nav-toggle-and-crumbs {
  border-bottom: unset;
  min-height: unset;
  margin-top: 1rem;
}

body.roadmap [class$="-tray__content"] {
  background: var(--ic-brand-global-nav-bgd)
}


body.roadmap .tray-with-space-for-global-nav>div {
  background: var(--ic-brand-global-nav-menu-item__badge-text);
}