:root {
	--v12-background-color: #f2f4f4;
}

body {
	background: var(--v12-background-color);
	color: var(--ic-brand-font-color-dark);
}

/* Global Nav */

@media (min-width: 768px) {
	body:not(.no-headers):not(.content-only) .ic-Layout-wrapper {
		margin-left: 70px;
	}
}

@media (min-width: 768px) {
	body:not(.no-headers):not(.content-only).primary-nav-expanded
		.ic-Layout-wrapper {
		margin-left: 100px;
	}
}

.ic-app-header {
	margin: 0.5rem;
	border-radius: 1rem;
	height: calc(100% - 1rem);
	width: calc(54px + 0.5rem);
	overflow-x: hidden;
}

body.primary-nav-expanded .ic-app-header {
	width: 5.75rem;
}

.ic-app-header__logomark-container {
	border-radius: 1rem 1rem 0;
}

.ic-app-header__menu-list {
	padding-bottom: 0.5rem;
}

.ic-app-header__menu-list-link {
	border-radius: 0.5rem;
	margin: 0.25rem;
	padding: 0;
}

#primaryNavToggle {
	padding: 0.5625rem 0;
}

.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active
	.ic-app-header__menu-list-link {
	background: #09508c;
}

.ic-app-header__menu-list-link.ic-app-header__menu-list-link--nav-toggle {
	width: calc(100% - 1rem); /* item margin */
	margin: 0.5rem;
	padding: inherit;
}

/* Global Nav - Left Tray */

[class$="-tray__content"] {
	background: var(--v12-background-color);
}

@media (min-width: 768px) {
	.tray-with-space-for-global-nav {
		margin-left: 5rem;
	}

	body.primary-nav-expanded .tray-with-space-for-global-nav {
		margin-left: 6.75rem;
	}
}

.tray-with-space-for-global-nav {
	padding: 0.5rem 0;
	background: var(--v12-background-color);
	margin-right: 0.5rem;
}

.tray-with-space-for-global-nav > div {
	min-height: calc(100vh - 1rem - 2px);
	border-radius: 1rem;
	background: var(--ic-brand-global-nav-bgd);
	border: 1px solid transparent;
}

.navigation-tray-container [class$="-closeButton"] {
	margin-top: 0.5rem 0.5rem 0;
}

/* Header */

#breadcrumbs {
	padding-left: 1.5rem;
}

#breadcrumbs .home {
	display: none;
}

.ic-app-nav-toggle-and-crumbs {
	border-bottom: unset;
	min-height: unset;
	margin-top: 1rem;
}

/* Page Header */

.pages.show .course-title {
	color: var(--ic-brand-font-color-dark);
}

/* Page Content */

#content {
	padding-top: 0;
}
.pages.show .show-content,
.pages.show.home .show-content {
	padding: 0;
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
	:root {
		--v12-background-color: #0e1316;
		--ic-brand-header-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 212.5 212.5'%3E%3Cdefs%3E%3Cstyle%3E.c1%7Bfill:%23e41e25;%7D.c2%7Bfill:none;%7D.c3%7Bfill:%23fff;%7D.c4%7Bfill:%23088744;%7D.c5 %7Bfill:%232c7bb9;%7D%0A%3C/style%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Crect class='c2' y='0' width='212.5' height='212.5'/%3E%3Cg%3E%3Cpath class='c1' d='M113.28,148.2h0c0-8.39,7-15.15,15.47-14.76,7.52.35,13.71,6.54,14.06,14.06.39,8.47-6.37,15.47-14.76,15.47s-14.77-6.61-14.77-14.77'/%3E%3Cpath class='c4' d='M113.28,106.25h0c0-8.39,7-15.15,15.47-14.76,7.52.35,13.71,6.54,14.06,14.06.39,8.47-6.37,15.47-14.76,15.47s-14.77-6.61-14.77-14.77'/%3E%3Cpath class='c5' d='M113.28,64.3h0c0-8.39,7-15.15,15.47-14.76,7.52.35,13.71,6.54,14.06,14.06.39,8.47-6.37,15.47-14.76,15.47s-14.77-6.61-14.77-14.77'/%3E%3Crect class='c3' x='69.68' y='49.53' width='24.56' height='113.42'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		--ic-brand-mobile-global-nav-logo: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 764.77 106.24'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; %7D .cls-2 %7B fill: %23ec1c24; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cg%3E%3Cg%3E%3Cpath class='cls-1' d='M507.86,43.05v-19.17h-16.08V0h-19.49v11.21c0,7.15-3.9,12.67-12.35,12.67h-5.47v.29c6.27,5.47,10.43,12.27,12.7,18.88h3.17v37.2c0,15.43,9.75,24.69,25.34,24.69,6.34,0,10.23-1.14,12.18-1.95v-17.87c-1.14.32-4.06.65-6.66.65-6.17,0-9.42-2.27-9.42-9.26v-33.46h16.08Z'/%3E%3Cpath class='cls-1' d='M733.24,80.9c-4.06,13.81-16.73,25.34-36.39,25.34-21.93,0-41.26-15.76-41.26-42.72,0-25.51,18.84-42.08,39.31-42.08,24.69,0,39.47,15.76,39.47,41.43,0,3.09-.32,6.34-.32,6.66h-57.18c.49,10.56,9.42,18.19,20.14,18.19,10.07,0,15.59-5.04,18.19-12.18l18.03,5.36ZM713.09,54.75c-.33-7.96-5.52-15.76-17.87-15.76-11.21,0-17.38,8.45-17.87,15.76h35.74Z'/%3E%3Cpath class='cls-1' d='M400.81,63.52c0,14.46,9.42,22.58,20.47,22.58s16.57-7.31,18.36-13.48l19.01,6.34c-3.57,13.32-16.08,26.97-37.36,26.97-23.56,0-42.07-17.87-42.07-42.4s18.19-42.4,41.42-42.4c21.77,0,34.12,13.48,37.53,26.97l-19.33,6.5c-1.95-6.66-6.99-13.48-17.71-13.48s-20.31,7.96-20.31,22.42Z'/%3E%3Cpath class='cls-1' d='M570.29,95.2c-4.39,7.47-13.65,10.72-22.09,10.72-19.33,0-30.38-14.13-30.38-31.52V23.88h21.61v46.14c0,8.93,4.55,16.08,14.62,16.08s15.11-6.5,15.11-15.76V23.88h21.61v65.47c0,6.17.49,11.7.81,14.46h-20.63c-.32-1.62-.65-5.36-.65-8.61Z'/%3E%3Cpath class='cls-1' d='M654.28,45.32c-2.44-.49-4.55-.65-6.5-.65-11.05,0-20.63,5.36-20.63,22.58v36.55h-21.61V23.88h20.96v11.86c4.87-10.56,15.92-12.51,22.74-12.51,1.79,0,3.41.16,5.04.32v21.77Z'/%3E%3Cpath class='cls-1' d='M291.08,45.32c-2.44-.49-4.55-.65-6.5-.65-11.05,0-20.63,5.36-20.63,22.58v36.55h-21.61V23.88h20.96v11.86c4.87-10.56,15.92-12.51,22.74-12.51,1.79,0,3.41.16,5.04.32v21.77Z'/%3E%3Cpath class='cls-1' d='M351.94,95.2c-4.39,7.47-13.65,10.72-22.09,10.72-19.33,0-30.38-14.13-30.38-31.52V23.88h21.61v46.14c0,8.93,4.55,16.08,14.62,16.08s15.11-6.5,15.11-15.76V23.88h21.61v65.47c0,6.17.49,11.7.81,14.46h-20.63c-.32-1.62-.65-5.36-.65-8.61Z'/%3E%3Cpath class='cls-1' d='M232.27,43.05v-19.17h-16.08V0h-19.49v11.21c0,7.15-3.9,12.67-12.35,12.67h-3.86c6.01,6.11,8.78,13.52,9.52,19.17h4.73v37.2c0,15.43,9.75,24.69,25.34,24.69,6.34,0,10.23-1.14,12.18-1.95v-17.87c-1.14.32-4.06.65-6.66.65-6.17,0-9.42-2.27-9.42-9.26v-33.46h16.08Z'/%3E%3Cpath class='cls-1' d='M136.46,77.49c.49,6.34,5.2,12.18,14.62,12.18,7.15,0,10.56-3.74,10.56-7.96,0-3.57-2.44-6.5-8.61-7.8l-10.56-2.44c-15.43-3.41-22.42-12.67-22.42-23.88,0-14.3,12.67-26.15,29.89-26.15,22.74,0,30.38,14.46,31.35,23.07l-18.03,4.06c-.65-4.71-4.06-10.72-13.16-10.72-5.69,0-10.23,3.41-10.23,7.96,0,3.9,2.93,6.34,7.31,7.15l11.37,2.44c15.76,3.25,23.72,12.83,23.72,24.53,0,13-10.07,26.32-31.03,26.32-24.04,0-32.33-15.6-33.3-24.69l18.52-4.06Z'/%3E%3Crect class='cls-1' y='4.05' width='21.61' height='99.76'/%3E%3Cpath class='cls-1' d='M58,103.81h-21.61V23.88h20.96v9.91c4.87-8.29,14.46-12.02,23.07-12.02,19.82,0,28.92,14.13,28.92,31.68v50.36h-21.61v-46.62c0-8.93-4.39-15.92-14.78-15.92-9.42,0-14.94,7.31-14.94,16.57v45.97Z'/%3E%3C/g%3E%3Ccircle class='cls-2' cx='751.78' cy='93.25' r='12.99'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		--ic-brand-primary: #ffffff;
		--ic-brand-primary-darkened-5: #ffffff;
		--ic-brand-primary-darkened-10: #ffffff;
		--ic-brand-primary-darkened-15: #ffffff;
		--ic-brand-primary-lightened-5: #f2f2f2;
		--ic-brand-primary-lightened-10: #e6e6e6;
		--ic-brand-primary-lightened-15: #d9d9d9;
		--ic-brand-font-color-dark-lightened-15: #d9d9d9;
		--ic-brand-font-color-dark-lightened-28: #b8b8b8;
		--ic-link-color: #ffffff;
		--ic-link-color-darkened-10: #ffffff;
		--ic-link-color-lightened-10: #e6e6e6;
		--ic-brand-font-color-dark: #ffffff;
		--ic-brand-button--primary-bgd: #2a353f;
		--ic-brand-button--primary-bgd-darkened-5: #323f4b;
		--ic-brand-button--primary-bgd-darkened-15: #425463;
		--ic-brand-button--primary-text: #ffffff;
		--ic-brand-button--secondary-bgd: transparent;
		--ic-brand-button--secondary-bgd-darkened-5: transparent;
		--ic-brand-button--secondary-bgd-darkened-15: transparent;
		--ic-brand-button--secondary-text: #ffffff;
		--ic-brand-global-nav-bgd: #171f24;
		--ic-brand-global-nav-logo-bgd: #171f24;
		--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
		--ic-brand-global-nav-ic-icon-svg-fill--active: #171f24;
		--ic-brand-global-nav-menu-item__text-color: #ffffff;
		--ic-brand-global-nav-menu-item__text-color--active: #273540;
		--ic-brand-global-nav-avatar-border: #171f24;
		--ic-brand-global-nav-menu-item__badge-bgd: #599dca;
		--ic-brand-global-nav-menu-item__badge-bgd--active: #65a4ce;
		--ic-brand-global-nav-menu-item__badge-text: #171f24;
		--ic-brand-global-nav-menu-item__badge-text--active: #171f24;
	}
	.ic-app-header__menu-list-item.ic-app-header__menu-list-item--active
		.ic-app-header__menu-list-link {
		background: #65a4ce;
	}
	#section-tabs .active {
		color: var(--ic-link-color);
		border-left-color: var(--ic-brand-primary);
	}
	.sticky-footer,
	#enhanced-rubric-builder-footer {
		background: var(--ic-brand-global-nav-bgd);
	}
	input[type="text"],
	select,
	textarea {
		background: transparent;
	}
	.nav-pills > .active > a,
	.nav-pills > .active > a:hover {
		color: var(--v12-background-color);
	}
	.ic-Table.ic-Table--striped tbody tr:nth-child(2n + 1) {
		background-color: #171f24;
	}
	[class$="-closeButton"] svg {
		fill: var(--ic-brand-primary);
	}
	.tray-with-space-for-global-nav > div {
		border-color: var(--ic-brand-button--primary-bgd);
	}
	/* IgniteAI Agent */
	#ignite-agent-chat-overlay-container div.bg-white {
		background: #0e1316;
	}
	#ignite-agent-chat-overlay-container > div {
		background:
			linear-gradient(#0e1316, #0e1316),
			linear-gradient(115.52deg, rgb(132, 95, 181) 0%, rgb(47, 118, 156) 99.07%);
		background-clip: padding-box, border-box;
		background-origin: border-box;
	}
	#ignite-agent-chat-overlay-container div[class$="-view"],
	#ignite-agent-chat-overlay-container
		div[class$="-view"]
		p
		#ignite-agent-chat-overlay-container
		div[class$="-view"]
		h1,
	#ignite-agent-chat-overlay-container div[class$="-view"] h2,
	#ignite-agent-chat-overlay-container div[class$="-view"] h3,
	#ignite-agent-chat-overlay-container div[class$="-view"] h4,
	#ignite-agent-chat-overlay-container div[class$="-view"] h5,
	#ignite-agent-chat-overlay-container div[class$="-view"] h6,
	#ignite-agent-chat-overlay-container div[class$="-view"] li,
	#ignite-agent-chat-overlay-container
		div[class$="-view"]
		.prose
		:where(strong):not(
			:where(
					[class~="not-prose"],
					#ignite-agent-chat-overlay-container
						div[class$="-view"]
						[class~="not-prose"]
						*
				)
		) {
		background: #0e1316;
		color: #fff;
	}
	#ignite-agent-chat-overlay-container form {
		border: 1px solid #2a353f;
		border-radius: 1rem;
	}
	#ignite-agent-chat-overlay-container form div.bg-white {
		background: #171f24;
	}
	#ignite-agent-chat-overlay-container textarea {
		background: transparent;
		color: #fff;
	}
}

/* Reset: Backgrounds */

#breadcrumbs,
.header-bar,
/* Start: Course Settings Tabs */
	[class$="-view-tab"][class],
[class$="-view-tabs__container"][class],
#details-selected > div,
#sections-selected > div,
#navigation-selected > div,
#alerts-selected > div,
#tools-selected > div,
#features-selected > div,
#integrations-selected > div,
/* End: Course Settings Tabs */
table.summary td,
table.summary tbody th,
.ui-tabs .ui-tabs-panel,
/* Start: Discussions Overview */
	.pinned-discussions-v2__wrapper,
.unpinned-discussions-v2__wrapper,
.closed-for-comments-discussions-v2__wrapper,
.discussions-v2__container-image
	/* End: Discussions Overview */
	/* Start: Rubrics */
	#Saved
	> div,
#Archived > div {
	background-color: var(--v12-background-color);
	color: var(--ic-brand-font-color-dark);
}

/* Reset: Links */

/* Links: Course Settings right-hand menu */
.Button--link--has-divider {
	color: var(--ic-link-color);
}

/* Reset: Borders */

/* Borders: Course Settings Tabs */
div[class$="-view-tab"][class]::after {
	background-color: var(--ic-link-color);
}

/* Reset: Buttons */

/* Buttons: IgniteAI Agent */
#top-nav-tools-mount-point > div > span > span > button > span {
	background: var(--ic-brand-button--secondary-bgd);
	color: var(--ic-brand-button--secondary-text);
}

/* Reset: Icons */

/* Icons: Course Nav */
.nav-icon {
	background: transparent;
	color: var(--ic-brand-font-color-dark);
}

/* Reset: Forms */

/* Roadmap Customizations */

body.roadmap #right-side-wrapper,
body.roadmap #left-side,
body.roadmap #courseMenuToggle {
	display: none;
}

body.roadmap #main {
	margin: 0;
}
