/* oxc-ignore-all lint/complexity/noImportantStyles: Important needed to override INSTUI */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

@media screen {
  [data-print*="print-only"] {
    display: none;
    visibility: hidden;
  }
}

@media print {
  [data-print*="hidden"],
  [data-position-content^="Popover"] {
    display: none !important;
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
    position: absolute !important;
    left: -99999px !important;
    top: -99999px !important;
  }

  [data-drawer-content^="DrawerLayout"] {
    margin-left: 0 !important;
  }

  [data-print*="no-margin"] {
    margin: 0 !important;
  }

  [data-print*="no-border"] {
    border: 0 !important;
    box-shadow: none !important;
  }

  [data-print*="no-padding"] {
    padding: 0 !important;
  }

  [data-print*="no-background"],
  [class$="heading__ignite-ai"] {
    background: transparent !important;
    -webkit-text-fill-color: unset !important;
  }

  [data-print*="max-height"] {
    height: auto !important;
    max-height: none !important;
    overflow: visible !important;
  }

  [data-print*="max-width"] {
    width: auto !important;
    max-width: 100% !important;
  }

  [data-print*="no-break"] {
    break-inside: avoid !important;
    page-break-inside: avoid !important;
  }

  [data-print*="color-primary"] {
    color: #273540 !important;
  }

  [data-print*="color-secondary"] {
    color: #586874 !important;
  }

  [data-print*="color-link"] {
    color: #0e68b3 !important;
  }

  [data-print*="print-only"] {
    display: block !important;
    visibility: visible !important;
    width: auto !important;
    height: auto !important;
  }
}
