@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: local('Atkinson Hyperlegible Next'), url('./AtkinsonHyperlegibleNext-ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: local('Atkinson Hyperlegible Next'), url('./AtkinsonHyperlegibleNext-ExtraLightItalic.woff2') format('woff2');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: local('Atkinson Hyperlegible Next'), url('./AtkinsonHyperlegibleNext-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: local('Atkinson Hyperlegible Next'), url('./AtkinsonHyperlegibleNext-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: local('Atkinson Hyperlegible Next'), url('./AtkinsonHyperlegibleNext-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: local('Atkinson Hyperlegible Next'), url('./AtkinsonHyperlegibleNext-RegularItalic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: local('Atkinson Hyperlegible Next'), url('./AtkinsonHyperlegibleNext-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: local('Atkinson Hyperlegible Next'), url('./AtkinsonHyperlegibleNext-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: local('Atkinson Hyperlegible Next'), url('./AtkinsonHyperlegibleNext-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: local('Atkinson Hyperlegible Next'), url('./AtkinsonHyperlegibleNext-SemiBoldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: local('Atkinson Hyperlegible Next'), url('./AtkinsonHyperlegibleNext-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: local('Atkinson Hyperlegible Next'), url('./AtkinsonHyperlegibleNext-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: local('Atkinson Hyperlegible Next'), url('./AtkinsonHyperlegibleNext-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: local('Atkinson Hyperlegible Next'), url('./AtkinsonHyperlegibleNext-ExtraBoldItalic.woff2') format('woff2');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: local('Atkinson Hyperlegible Next'), url('./AtkinsonHyperlegibleNext-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: local('Atkinson Hyperlegible Next'), url('./AtkinsonHyperlegibleNext-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
