:root {
	--instructure: #0e1721;
	--ai-gradient: linear-gradient(to bottom, #00828e, #9e58bd);
}

body {
	background-color: var(--instructure);
	color: #fff;
	display: grid;
}

.logo {
	height: 15em;
	width: 15em;
	padding: 1.5em;
	border-image-source: var(--ai-gradient);
	border-image-slice: 1;
	border-image-width: 1em;
	border-image-outset: 0;
	margin: auto;
}
