:root {
  --instructure: #0E1721;
  --violet: #9E58BD;
  --sea: #00828E;
  --ai-gradient: linear-gradient(to bottom, var(--sea), var(--violet));
  background-color: var(--instructure);
  display: flex;
  justify-content: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

abbr {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0.15em;
  text-decoration-color: var(--violet);
  text-transform: uppercase
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

dfn {
  font-weight: 500;
  font-style: normal;
  text-transform: capitalize;
}